.contacts {
    @include media-breakpoint-up(md){
        @include make-col-ready();
        @media screen {
            flex: 1 0 25%;
            max-width: 15rem;
            margin-left: auto;
        }
        @media print {
            width: auto;
        }
    }
    > ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
    }
}
.contact-list {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    @media screen {
        border-bottom: $border-width solid var(--theme-border-color);
        transition: border .15s ease-in-out;    
    }
    @media (max-width: 480px){
        margin-left: -$grid-gutter-width / 2;
        margin-right: -$grid-gutter-width / 2;
    }
    @media (min-width: 480px) and (max-width: 767.9px){
        flex-wrap: wrap;
        flex-direction: row;
    }

    li {
        padding: .5rem;
        @media (max-width: 480px){
            padding: .5rem .5rem .5rem (($grid-gutter-width / 2) + .5rem);
        }
        @media print {
            padding: .25rem;
        }
        @media screen {
            border-top: $border-width solid var(--theme-border-color);
            transition: border .15s ease-in-out;
        }
        @media (min-width: 480px) and (max-width: 767.9px){
            flex: 1 1 50%;
            max-width: 50%;
        }

        /**
         * our presentation styles
         **/
        a {
            display: flex;
            align-items: center;
            .presentation {
                margin-right: .5rem;
                color: var(--theme-copy-color);
                transition: color .15s ease-in-out;
                position: relative;
                display: block;
                height: 1rem;
                width: 1rem;
                overflow: hidden;
                &:before,
                &:after {
                    @include fa-icon;
                    top: 0;
                    transition: left 250ms ease-in-out;
                    position: absolute;
                }
                &:before {
                    content: $fa-var-external-link;
                    left: -2rem;
                }
                &:after {
                    left: 0;
                }
            }
            /* hover reactions */
            &:hover {
                @media screen {
                    .presentation {
                        &:before {
                            left: 0;
                        }
                        &:after {
                            left: 2rem;
                        }
                    }    
                }
            }
            /* context styling */
            &[href^="tel:"]{
                .presentation {
                    &:after {
                        content: $fa-var-phone;
                    }
                }
            }
            &[href^="mailto:"]{
                .presentation {
                    &:after {
                        content: $fa-var-envelope;
                    }
                }
            }
            &[href*="linkedin"]{
                .presentation {
                    &:after {
                        content: $fa-var-linkedin;
                    }
                }
            }
            &[href*="github"]{
                .presentation {
                    &:after {
                        content: $fa-var-github;
                    }
                }
            }
        }
        a {
            text-decoration: none;

            @media screen {
                .label {
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 1px;
                        background: var(--theme-a-hover);
                        right: 0;
                        bottom: -2px;
                        position: absolute;
                        transition: background .15s ease-in-out, width 250ms ease-in-out;
                    }
                }
                &:hover {
                    .label {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }

            &[href^='http'] {
                @media print {
                    &:after {
                        content: attr(href);
                    }
                    .label {
                        display: none;
                    }
                }
            }
        }
    }
}