.site-footer {
    order: 3;
    padding-top: 3rem;
    padding-bottom: 1rem;
    @media (min-width: 480px){
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    @media screen {
        border-top: $border-width solid var(--theme-border-color);
        background-color: var(--theme-background-color);
        transition: border .15s ease-in-out, background .15s ease-in-out;    
    }
}

.last-updated,
.download {
    @include make-col-ready();
    @media (min-width: 480px){
        flex: 1 0 0;
        max-width: 100%;
    }
}
.last-updated {
    font-size: .75rem;
    color: var(--theme-copy-shaded-2);
    transition: color .15s ease-in-out;
    @media screen {
        text-align: center;
        @media (min-width: 480px){
            text-align: right;
        }            
    }

    .fa {
        margin-left: .5rem;
        font-size: 1rem;
        color: var(--theme-copy-color);
        transition: color .15s ease-in-out;
    }
}

.download {
    font-size: .75rem;
    padding-bottom: .5rem;
    text-align: center;
    @media (min-width: 480px){
        padding-bottom: 0;
        text-align: left;
    }
    @media print {
        display: none;
    }
}
.download-list {
    margin-bottom: 0;
    margin-left: .5rem;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: row;

    li {
        display: flex;
        align-items: center;
        &:not(:first-child){
            margin-left: .5rem;
            padding-left: .5rem;
            border-left: $border-width solid var(--theme-shade-400);
            transition: border .15s ease-in-out;
        }
    
        .fa {
            margin-right: .25rem;
            color: var(--theme-copy-color);
            transition: color .15s ease-in-out;
        }
    }
}
